@media print {
    body {
        font-family: "Verdana", sans-serif;
    }
    
    tr th{
        text-align: left;
    }
    
    .title-setlist{
        font-size: 12px;
    }

    .navbar, 
    .add-musica,
    .musicas-adicionadas h3{
        display: none;
    }
}

table thead tr th {
    cursor: pointer;
}

.musicas-setlist tbody tr {
    cursor: move;
}
